
 <table class="table">
        <thead>
            <tr>
                <th>Hotel Name</th>
                <th>Review</th>
                <th>Address</th>
                <th>Image</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
        

<% @hotels.each do |hotel| %>
          <div class="row">
            <th>
            <div class="col-md-3">
              <h4><%= hotel.name %></h4>
            </div>
            </th>

            <th>
             <div class="col-md-3">
              <h4><%= hotel.review %></h4>
            </div>
            </th>
            <th>
             <div class="col-md-3">
              <h4><%= hotel.address %></h4>
            </div>
           </th>

            <th>
             <div class="col-md-3">
              <h4><%= image_tag %></h4>
            </div>
           </th>
          </div>

           
        <% end %>
        </tbody>

        