<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
			<li class="sidebar-item"><% link_to "Hotels List", hotels_path, class: "sidebar-link active" %></li>
			<li class="sidebar-item"><% link_to "Your Reservations", hotels_path %></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>Listings</h1>
		</div>
			<div class="panel-body">	
				<%= @hotels.each do |hotel| %>
				<div class="row">
					<div class="col-md-2">
					 <%= image_tag hotel.photos[0].image.url(:thumb) if hotel.photos.length > 0 %>
					 </div>
					 <div class="col-md-7">
					 <%= hotel.name %>
					 </div>
					 <div class="col-md-3">
					 <%= link_to "Update", edit_hotel_path(hotel) %>
					 </div>
					</div>
					<% end %>
				
				
		    </div>
</div>
</div>
</div>